@using Web1.Business
@using Web1.Models.Media
@model PageViewModel<Web1.Models.Pages.StartPage>

@{
    Layout = "~/Views/Shared/Layouts/_Black.cshtml";
}

@{
    var image = new ImageFile();
    if(Model.CurrentPage.LandingImage != null)
    {
        image = Model.CurrentPage.LandingImage.GetContent<ImageFile>();
    }
}

@if(!string.IsNullOrEmpty(image.Description))
{
    <h1>@image.Description</h1>
}

<div class="code">
@(!string.IsNullOrEmpty(image.AsciiArt) ? Html.Raw(image.AsciiArt) : Html.PropertyFor(m => m.CurrentPage.LandingImage))
</div>